body{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

    overflow: hidden;
    margin: 0;
}
.box{
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    justify-content: center;

    background-color: aquamarine;

    width: 300px;

    border-radius: 20px;
    
    overflow: hidden;
}

.another{
    width: 80%;

    display: flex;
    flex-direction: column;

}

.line{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content:space-between;

    width: 100%;

    border-bottom : 1px solid gray;
}

input[type="radio"]{
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 16px;
    height: 16px;

    color-interpolation-filters: linearRGB;
}

input[type="radio"]:checked ~ p {
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}


#userinput{
    outline: none;
    border-radius: 5px;
    border-style: solid;
    background-color: cyan;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

    font-size: 1rem;
}

.userinputAdd,
.userinputRemove{
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    background-color: cyan;
    border-color: gray;
    border-style: solid;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}


#cross{
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}
#cross:hover::after,
#cross:hover::before{
    background-color: red;
}

#cross::after,
#cross::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: gray;
}

#cross::after{
    rotate: 45deg;
}
#cross::before{
    rotate: -45deg;
}



input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: gray;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    
}

input[type='radio']:checked:after {

    background-color: aquamarine;
    border: 2px solid white;
}




.alert{
    width: 250px;
    height: 50px;
    top: 0;
    left: -300px;

    background-color: rgb(240, 110, 110);
    color: white;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


    transition: 0.5s;
}

.popup{
    top: 0;
    left: 0;
    z-index: 999;
}
